/* 
-------------
Custom Variables
--------------
*/
:root {
  --clr-primary: #0f0d13;
  --clr-accent: #a238ff;
  --clr-text: #ffffff;
  --clr-text-family: #ff673d;
  --clr-tertiary: #29282d;
  --clr-notification: #1b191f;
  --clr-notification-grey: #a9a6aa;

  --font-family-primary: "Inter", "Arial", sans-serif;
  --font-family-secondary: "Arial", sans-serif;
  --font-family-hero: 'Signika Negative', sans-serif;

  --font-size-xl: 4.875rem;
  --font-size-hero-mobile: 1.625rem;
  --font-size-lg: 2.5rem;
  --font-size-md: 1.75rem;
  --font-size-sm: 1.25rem;
  --font-size-xs: 0.875rem;

  --font-weight-lg: 700;
  --font-weight-md: 600;
  --font-weight-sm: 400;

  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
}
/* 
-------------
Resets
--------------
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

body{
    min-height: 100vh;
    line-height: 1.5;
    font-family: var(--font-family-primary);
    margin: 0;
}
li{
    list-style-type: none;
}
.container{
    width: min(90%, 70rem);
    margin: 0 auto;
}
/* 
-------------
Utility classes
--------------
*/
.hidden{
    display: none;
}
.flow > * + * {
    margin-top: var(--flow-spacer, 2rem);
}
main{
    background-color: var(--clr-primary);
}
/* 
-------------
Navbar
--------------
*/
img{
    width: 3rem;
}
header{
    background-color: var(--clr-primary);
    border-bottom: 3px solid var(--clr-tertiary);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-lg);
}
.header__logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.header a{
    text-decoration: none;
    color: var(--clr-text);
}
.header__list-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header__list{
    display: none;
}
.header__list li a{
    transition: all .2s;
}
.header__list li a:hover{
    color: var(--clr-accent);
}
.header__btn-container{
    display: none;
}
.btn{
    padding: .75rem 1.25rem;
    border-radius: 12px;
}
.btn--transparent{
    margin-right: 1rem;
    background-color: transparent;
    border: 3px solid var(--clr-tertiary);
}
.btn--accent{
    background-color: var(--clr-accent);
}
.btn--transparent:hover{
    background-color: var(--clr-tertiary);
}
.header__icon-container{
    color: var(--clr-text);
    padding: .5rem 1.5rem;
    font-size: var(--font-size-md);
}

@media (min-width: 760px) {
    .header__icon-container{
        display: none;
    }
    .header__btn-container{
    display: block;
    }
}

@media (min-width: 960px) {
    .header__list{
        display: flex;
        gap: 2rem;
        padding: 0 2rem;
    }
}

/* 
-------------
Hero section
--------------
*/
.hero{
    background-color: var(--clr-primary);
    color: var(--clr-text);
    font-family: var(--font-family-secondary);
    line-height: 1;
    text-align: center;
    padding-block: 3rem;
}
.hero__heading{
    font-size: var(--font-size-lg);
    font-weight: bold;
}

.hero__notification > * + * {
    margin-top: 1rem;
}
.notification{
    background-color: var(--clr-notification);
    max-width: 568px;
    margin-inline: auto;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
    text-align: left;
}
.notification p{
    font-family: var(--font-family-primary);
}
.notification i{
    font-size: var(--font-size-sm);
}
.fa-circle-exclamation{
    color: #fe9935;
}
.notification span{
    font-weight: var(--font-weight-lg);
    display: block;
    margin-bottom: .5rem;
    color: var(--clr-text);
}
.notification--grey{
    color: var(--clr-notification-grey);
}
@media(min-width: 960px) {
    .hero__heading{
        font-size: 65px;
    }
    .hero__notification > * + * {
    margin-top: 1.5rem;
}
}
/* 
-------------
Offer section
--------------
*/
.offer{
    background-color: var(--clr-accent);
    padding: 2rem 1rem;
}
.offer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer__card{
    background-color: var(--clr-text);
    max-width: 700px;
    padding: 1rem;
    border-radius: 5px;
    --flow-spacer: .75rem;
    margin-bottom: .25rem;
}
.offer__premium-heading, .offer__family-heading{
    text-decoration: none;
    text-transform: uppercase;
}
.offer__premium-heading h2, .offer__family-heading h2{
    background-color: var(--clr-accent);
    color: var(--clr-text);
    padding: .25rem .75rem;
    width: 10ch;
    border-radius: 9px 9px 9px 9px/75% 75% 75% 75%;
    font-family: var(--font-family-hero);
    font-weight: 900;
}
.offer__duration{
    text-transform: uppercase;
    font-family: var(--font-family-hero);
    font-weight: 900;
}

.offer__link{
    color: var(--clr-text);
    background-color: var(--clr-primary);
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    font-weight: var(--font-weight-md);
}
.offer__text-bottom{
    font-size: .75rem;
}
.offer__text-bottom a{
    color: var(--clr-notification-grey);
}
.card{
    display: none;
}
#annual--premium:checked ~ .card , #annual--family:checked ~ .card{
   display: block;
}
.visually-hidden{
    position: absolute;
    left: -100vw;
}
.control-container{
    width: 100%;
    max-width: 700px;
}
.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.7 );
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .2s;
}
.control:hover, .control:focus{
    background-color: var(--clr-text);
}
.control p{
    font-weight: var(--font-weight-md);
}
.control p span{
    background-color: var(--clr-primary);
    color: var(--clr-text);
    padding: .25rem .5rem;
    border-radius: 9px 9px 9px 9px/75% 75% 75% 75%;
    margin-left: .5rem;
}
.fa-chevron-down{
    padding: .5rem 1rem;
}
.offer--bottom .premium--annual{
    width: 18ch;
}
.offer--bottom{
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.offer__text-bottom span{
    text-decoration: line-through;
    color: var(--clr-notification-grey);
}

.offer__family{
    margin-top: 2rem;
}

.offer__family-heading h2{
    background-color: var(--clr-text-family);
    width: 8ch;
}
.offer--bottom {
    margin: 0;
}

.offer--bottom .family--annual{
    width: 16ch;
}